<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GoodSoft.Properties.Settings._31П_Проект_ДолгConnectionString"
            connectionString="Data Source=ngknn.ru;Initial Catalog=31П-Проект-Долг;Persist Security Info=True;User ID=31П;Password=12357"
            providerName="System.Data.SqlClient" />
        <add name="GoodSoft.Properties.Settings._31П_КР_КонстантиновConnectionString"
            connectionString="Data Source=ngknn.ru;Initial Catalog=31П-КР-Константинов;Persist Security Info=True;User ID=31П;Password=12357"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>